:root {
  --color-neutrals-dark: #11151d;
  --color-neutrals-mid: #2b2f35;
  --color-neutrals-sub: #86888b;
  --color-neutrals-light: #e1e1e0;
  --color-hero-yellow: #f8f770;
  --color-mid-yellow: #a0a14e;
  --color-sub-yellow: #484a2c;
  --color-dark-yellow: #2b2e26;
  --color-hero-green: #59eb5c;
  --color-mid-green: #3f9e44;
  --color-sub-green: #24512c;
  --color-dark-green: #192d24;
  --color-hero-red: #ff7676;
  --color-mid-red: #ae5458;
  --color-sub-red: #5d323a;
  --color-dark-red: #1a1318;
  --color-hero-purple: #ba64f2;
  --color-mid-purple: #824aab;
  --color-sub-purple: #492f64;
  --color-dark-purple: #241e35;
  --color-hero-cyan: #61d1fa;
  --color-mid-cyan: #458fab;
  --color-sub-cyan: #284c5d;
  --color-dark-cyan: #1a2a36;
  --color-hero-orange: #e69e50;
  --color-mid-orange: #976c3d;
  --color-sub-orange: #48392a;
  --color-dark-orange: #292423;
  --color-hero-mmc: #ff93fb;
  --color-mid-mmc: #ab44a8;
  --color-sub-mmc: #8f0089;
  --color-dark-mmc: #292329;
  --background-body: #11151d;
  --border-radius: 8px;
  --btn--icon-only-size: 36px;
  --badge-content-gap: 5px;
  --badge-image-size: 1.4em;

  --background-body: var(--color-neutrals-dark);
}

header {
  display: grid;
  justify-items: center;
}